%section
  %h2 Available Project
  %p TODO: 連携済みのGithub/Bitbucketプロジェクトを表示する
  %ul
    %li= link_to 'Setup Github hooks.', github_path
%section
  %h2 Recent Revisions
  = render partial: 'shared/revision_table', locals: { revisions: @revisions }
  %p!="See #{link_to 'all revisions', revisions_path}..."

