%h2="commit #{@revision.hash_code[0,6]}"


.revision
  .log=@revision.log
  .info
    %span.author=@revision.author
    %span.date=@revision.date
    %span.commit
      %span.title commit
      %span.value=link_to @revision.hash_code, @revision.url
    %span.project
      %span.title project
      %span.value=@revision.project

%h3 Embed
%dl
  %dt embed HTML
  %dd=link_to_url(hash_path(hash: @revision.hash_code, only_path: false))
  %dt Get information by JSON
  %dd=link_to_url(hash_path(hash: @revision.hash_code, format: 'json', only_path: false))
