%table.table.table-striped
  %thead
    %tr
      %th #
      %th message
      %th Project
      %th Author
      %th Created at
  %tbody
    - revisions.each do|revision|
      %tr
        %td=link_to revision.hash_code[0,6], revision_path(revision.hash_code)
        %td=revision.log[0,50]
        %td=revision.project
        %td=revision.author
        %td=revision.date
